.lp-pom-image-container {
	width:190px;
	height:76px;
}

.lp-pom-image-container img {
	width:100%;
}

body { 
	color:#6c7077; 
}
a {
	color:#50b9dd;
	text-decoration:none;
}

a{
	color:#333;
	font-weight: bolder
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}
#lp-pom-image-11 {
	left:19px;
	top:9px;
	z-index:2;
	position:absolute;
}
#lp-pom-text-12 {
	left:748px;
	top:39px;
	background:rgba(255,255,255,0);
	-pie-background:rgba(255,255,255,0);
	z-index:1;
	width:192px;
	height:0px;
	position:absolute;
	behavior:url(/PIE.htc);
}
#lp-pom-text-13 {
	left:358px;
	top:251px;
	background:rgba(7,95,246,0);
	-pie-background:rgba(7,95,246,0);
	z-index:4;
	width:274px;
	height:83px;
	position:absolute;
	behavior:url(/PIE.htc);
}
#lp-pom-text-14 {
	left:358px;
	top:370px;
	background:rgba(255,255,255,0);
	-pie-background:rgba(255,255,255,0);
	z-index:3;
	width:538px;
	height:160px;
	position:absolute;
	behavior:url(/PIE.htc);
}
#lp-pom-box-34 {
	left:0px;
	top:708px;
	background:rgba(47,53,62,1);
	-pie-background:rgba(47,53,62,1);
	border-style:none;
	z-index:19;
	width:65px;
	height:65px;
	position:absolute;
	behavior:url(/PIE.htc);
	border-radius:121px;
}
#lp-pom-text-36 {
left:76px;
top:708px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:18;
width:288px;
height:66px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-37 {
left:0px;
top:793px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:17;
width:419px;
height:100px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-47 {
left:589px;
top:719px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:14;
width:313px;
height:44px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-48 {
left:513px;
top:793px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:13;
width:419px;
height:40px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-box-49 {
left:513px;
top:708px;
background:rgba(47,53,62,1);
-pie-background:rgba(47,53,62,1);
border-style:none;
z-index:15;
width:65px;
height:65px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:121px;
}
#lp-pom-box-53 {
left:0px;
top:938px;
background:rgba(47,53,62,1);
-pie-background:rgba(47,53,62,1);
border-style:none;
z-index:11;
width:65px;
height:65px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:121px;
}
#lp-pom-text-54 {
left:76px;
top:951px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:10;
width:288px;
height:44px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-box-55 {
left:513px;
top:938px;
background:rgba(47,53,62,1);
-pie-background:rgba(47,53,62,1);
border-style:none;
z-index:7;
width:65px;
height:65px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:121px;
}
#lp-pom-text-56 {
left:589px;
top:951px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:6;
width:288px;
height:44px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-57 {
left:513px;
top:1011px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:5;
width:419px;
height:60px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-58 {
left:0px;
top:1011px;
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
z-index:9;
width:419px;
height:80px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-root {
background:rgba(252,252,252,0);
-pie-background:rgba(252,252,252,0);
margin:auto;
min-width:950px;
behavior:url(/PIE.htc);
}
#lp-pom-root .lp-positioned-content {
width:950px;
margin-left:-475px;
}
#lp-pom-block-8 {
background:rgba(114,208,235,1);
-pie-background:rgba(114,208,235,1);
margin:auto;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-block-9 {
background:rgba(46,52,61,1);
background-image:url(../img/optio-gplaypattern.original.png);
background-repeat:repeat;
background-position:center top;
-pie-background:rgba(46,52,61,1) url(../img/optio-gplaypattern.original.png) repeat center top;
margin-left:auto;
margin-right:auto;
margin-bottom:0px;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-block-10 {
background:rgba(79,189,227,1);
background-image:url(../img/optio-gplaypattern.original.png);
background-repeat:repeat;
background-position:center top;
-pie-background:rgba(79,189,227,1) url(../img/optio-gplaypattern.original.png) repeat center top;
margin-left:auto;
margin-right:auto;
margin-bottom:0px;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-image-11 .lp-pom-image-container {
width:91px;
height:102px;
behavior:url(/PIE.htc);
border-radius:33px;
}
#lp-pom-block-24 {
background:rgba(252,252,252,0);
background-image:url(../img/cream-dust.original.png);
background-repeat:repeat;
background-position:center center;
-pie-background:rgba(252,252,252,0) url(../img/cream-dust.original.png) repeat center center;
margin:auto;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-block-62 {
background:rgba(252,252,252,0);
background-image:url(../img/cream-dust.original.png);
background-repeat:repeat;
background-position:center center;
-pie-background:rgba(252,252,252,0) url(../img/cream-dust.original.png) repeat center center;
margin:auto;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-image-69 {
left:0px;
top:0px;
z-index:20;
position:absolute;
}
#lp-pom-image-69 .lp-pom-image-container {
width:64px;
height:64px;
behavior:url(/PIE.htc);
}
#lp-pom-image-70 {
left:0px;
top:0px;
z-index:16;
position:absolute;
}
#lp-pom-image-70 .lp-pom-image-container {
width:64px;
height:64px;
behavior:url(/PIE.htc);
}
#lp-pom-image-71 {
left:1px;
top:1px;
z-index:12;
position:absolute;
}
#lp-pom-image-71 .lp-pom-image-container {
width:64px;
height:64px;
behavior:url(/PIE.htc);
}
#lp-pom-image-72 {
left:1px;
top:0px;
z-index:8;
position:absolute;
}
#lp-pom-image-72 .lp-pom-image-container {
width:64px;
height:64px;
behavior:url(/PIE.htc);
}
#lp-pom-block-134 {
background:rgba(252,252,252,0);
background-image:url(../img/cream-dust.original.png);
background-repeat:repeat;
background-position:center center;
-pie-background:rgba(252,252,252,0) url(../img/cream-dust.original.png) repeat center center;
border-style:solid none none none;
border-width:1px;
border-color:#eaeaea;
margin:auto;
position:relative;
behavior:url(/PIE.htc);
}
#lp-pom-text-135 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
left:9px;
top:1541px;
z-index:24;
width:575px;
height:22px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-button-141 {
left:851px;
top:1446px;
z-index:23;
width:27px;
height:27px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/1rof91a-optio-social-twitter-button-off.png);
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:16px;
line-height:19px;
font-weight:bold;
font-family:arial;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-141:hover {
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/1cgd65h-optio-social-twitter-button-on.png);
color:#fff;
}
#lp-pom-button-141:active {
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/1rof91a-optio-social-twitter-button-off.png);
color:#fff;
}
#lp-pom-button-142 {
left:882px;
top:1446px;
z-index:22;
width:27px;
height:27px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/11v835e-optio-social-facebook-button-off.png);
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:16px;
line-height:19px;
font-weight:bold;
font-family:arial;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-142:hover {
background-color:rgba(235,128,22,0);
-pie-background-color:rgba(235,128,22,0);
background-image:url(../img/1230i5v-optio-social-facebook-button-on.png);
color:#fff;
}
#lp-pom-button-142:active {
background-color:rgba(222,115,18,0);
-pie-background-color:rgba(222,115,18,0);
background-image:url(../img/11v835e-optio-social-facebook-button-off.png);
color:#fff;
}
#lp-pom-button-143 {
left:913px;
top:1446px;
z-index:21;
width:27px;
height:27px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/p3ud8q-optio-social-linkedin-button-off.png);
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:16px;
line-height:19px;
font-weight:bold;
font-family:arial;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-143:hover {
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/8wn69r-optio-social-linkedin-button-on.png);
color:#fff;
}
#lp-pom-button-143:active {
background-color:rgba(247,148,29,0);
-pie-background-color:rgba(247,148,29,0);
background-image:url(../img/p3ud8q-optio-social-linkedin-button-off.png);
color:#fff;
}
#lp-pom-text-151 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
left:666px;
top:34px;
z-index:25;
width:300px;
height:22px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-text-152 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
left:122px;
top:34px;
z-index:27;
width: 470px
height:64px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-button-153 {
left:826px;
top:34px;
z-index:29;
width:107px;
height:20px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background:rgba(249,251,252,0);
-pie-background:rgba(249,251,252,0);
text-shadow:1px 1px #2a4759;
color:#fff;
border-style:solid;
border-width:1px;
border-color:#333333;
font-size:16px;
line-height:19px;
font-weight:bold;
font-family:Arvo;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-153:hover {
background:rgba(0,4,6,0);
-pie-background:rgba(0,4,6,0);
color:#fff;
}
#lp-pom-button-153:active {
background:rgba(157,203,227,0);
-pie-background:rgba(157,203,227,0);
color:#fff;
}
#lp-pom-image-166 {
left:126px;
top:206px;
z-index:30;
position:absolute;
}
#lp-pom-image-166 .lp-pom-image-container {
width:232px;
height:372px;
behavior:url(/PIE.htc);
}
#lp-pom-image-167 {
left:166px;
top:310px;
z-index:31;
position:absolute;
}
#lp-pom-image-167 .lp-pom-image-container {
width:143px;
height:163px;
behavior:url(/PIE.htc);
border-radius:72px;
}
#lp-pom-button-169 {
left:26px;
top:130px;
z-index:33;
width:134px;
height:42px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background:rgba(29,186,247,0);
-pie-background:rgba(29,186,247,0);
text-shadow:1px 1px #012752;
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:24px;
line-height:29px;
font-weight:bold;
font-family:Arvo;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-169:hover {
background:rgba(22,167,235,0);
-pie-background:rgba(22,167,235,0);
color:#fff;
}
#lp-pom-button-169:active {
background:rgba(18,153,222,0);
-pie-background:rgba(18,153,222,0);
color:#fff;
}
#lp-pom-button-170 {
left:208px;
top:130px;
z-index:34;
width:251px;
height:42px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background:rgba(29,186,247,0);
-pie-background:rgba(29,186,247,0);
text-shadow:1px 1px #012752;
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:24px;
line-height:29px;
font-weight:bold;
font-family:Arvo;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-170:hover {
background:rgba(22,167,235,0);
-pie-background:rgba(22,167,235,0);
color:#fff;
}
#lp-pom-button-170:active {
background:rgba(18,153,222,0);
-pie-background:rgba(18,153,222,0);
color:#fff;
}
#lp-pom-button-171 {
left:516px;
top:132px;
z-index:35;
width:150px;
height:40px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background:rgba(29,186,247,0);
-pie-background:rgba(29,186,247,0);
text-shadow:1px 1px #012752;
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:24px;
line-height:29px;
font-weight:bold;
font-family:Arvo;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-171:hover {
background:rgba(22,167,235,0);
-pie-background:rgba(22,167,235,0);
color:#fff;
}
#lp-pom-button-171:active {
background:rgba(18,153,222,0);
-pie-background:rgba(18,153,222,0);
color:#fff;
}
#lp-pom-button-172 {
left:715px;
top:130px;
z-index:36;
width:150px;
height:43px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:5px;
background:rgba(29,186,247,0);
-pie-background:rgba(29,186,247,0);
text-shadow:1px 1px #012752;
color:#fff;
border-style:none;
border-width:undefinedpx;
border-color:#undefined;
font-size:24px;
line-height:29px;
font-weight:bold;
font-family:Arvo;
text-align:center;
background-repeat:no-repeat;
}
#lp-pom-button-172:hover {
background:rgba(22,167,235,0);
-pie-background:rgba(22,167,235,0);
color:#fff;
}
#lp-pom-button-172:active {
background:rgba(18,153,222,0);
-pie-background:rgba(18,153,222,0);
color:#fff;
}
#lp-pom-box-173 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
border-style:solid none solid none;
border-width:1px;
border-color:#fdfdfe;
left:0px;
top:124px;
z-index:32;
width:935px;
height:52px;
position:absolute;
behavior:url(/PIE.htc);
border-radius:51px;
}
#lp-pom-image-174 {
left:70px;
top:1198px;
z-index:37;
position:absolute;
}

#lp-pom-image-174 .lp-pom-image-container {

	behavior:url(/PIE.htc);
}
#lp-pom-image-175 {
left:70px;
top:1305px;
z-index:38;
position:absolute;
}
#lp-pom-image-175 .lp-pom-image-container {
behavior:url(/PIE.htc);
}
#lp-pom-image-176 {
left:355px;
top:1194px;
z-index:39;
position:absolute;
}
#lp-pom-image-176 .lp-pom-image-container { 
behavior:url(/PIE.htc);
}
#lp-pom-image-177 {
left:355px;
top:1316px;
z-index:40;
position:absolute;
}
#lp-pom-image-177 .lp-pom-image-container { 
behavior:url(/PIE.htc);
}
#lp-pom-image-178 {
left:650px;
top:1209px;
z-index:41;
position:absolute;
}
#lp-pom-image-178 .lp-pom-image-container {
}
#lp-pom-image-179 {
left:650px;
top:1316px;
z-index:42;
position:absolute;
}
#lp-pom-image-179 .lp-pom-image-container { 
behavior:url(/PIE.htc);
border-radius:1px;
}
#lp-pom-text-181 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
left:67px;
top:1439px;
z-index:43;
width:300px;
height:52px;
position:absolute;
behavior:url(/PIE.htc);
}
#lp-pom-image-182 {
left:21px;
top:1439px;
z-index:44;
position:absolute;
}
#lp-pom-image-182 .lp-pom-image-container {
width:27px;
height:43px;
behavior:url(/PIE.htc);
}
#lp-pom-image-183 {
left:41px;
top:206px;
z-index:26;
position:absolute;
}
#lp-pom-image-183 .lp-pom-image-container {
width:188px;
height:408px;
behavior:url(/PIE.htc);
}
#lp-pom-image-184 {
left:63px;
top:310px;
z-index:28;
position:absolute;
}
#lp-pom-image-184 .lp-pom-image-container {
width:143px;
height:163px;
behavior:url(/PIE.htc);
border-radius:72px;
}
#lp-pom-image-185 {
left:374px;
top:1439px;
z-index:45;
position:absolute;
}
#lp-pom-image-185 .lp-pom-image-container {
width:48px;
height:48px;
behavior:url(/PIE.htc);
}
#lp-pom-text-186 {
background:rgba(255,255,255,0);
-pie-background:rgba(255,255,255,0);
left:438px;
top:1449px;
z-index:46;
width:194px;
height:60px;
position:absolute;
behavior:url(/PIE.htc);
}

