<div class="container-fluid">
 <div class="row">

  <h2>Compara y elije la tarjeta de crédito que se adapte a tus necesidades</h2> 
  <br>
  <div class="col-md-2" id="sidebar">
   <!--Sidebar content-->
   <ul>
    <li> Institución: 
      <input type="text" ng-model="search.institucion" >
    </li>

    <li> Ingresos Mínimos Comprobados: 
     <select ng-model="search.ingresos_minimos" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'ingresos_minimos' | unique: 'ingresos_minimos' | 
                         filter:search.institucion" 
       value="{{card.ingresos_minimos}}"> 
       {{card.ingresos_minimos}} 
      </option>
     </select>
    </li>
    <hr>
    
    <h4> Comisiones </h4>

    <li> Anualidad: 
     <select ng-model="search.anualidad" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'anualidad' | unique: 'anualidad' |
                         filter:search.institucion | filter:search.ingresos_minimos" 
       value="{{card.anualidad}}"> 
       {{card.anualidad}} 
      </option>
     </select>
    </li>

    <li> Anualidad Tarjeta Adicional: 
     <select ng-model="search.anualidad_tarjeta_ad" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'anualidad_tarjeta_ad' | unique: 'anualidad_tarjeta_ad' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad" 
       value="{{card.anualidad_tarjeta_ad}}"> 
       {{card.anualidad_tarjeta_ad}} 
      </option>
     </select>
    </li>

    <li> Gastos de Cobranza: 
     <select ng-model="search.gastos_cobranza" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'gastos_cobranza' | unique: 'gastos_cobranza' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad | filter:search.anualidad_tarjeta_ad" 
       value="{{card.gastos_cobranza}}"> 
       {{card.gastos_cobranza}} 
      </option>
     </select>
    </li>

    <li> Falta de Pago: 
     <select ng-model="search.falta_pago" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'falta_pago' | unique: 'falta_pago' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad | filter:search.anualidad_tarjeta_ad | 
                         filter:search.gastos_cobranza" 
       value="{{card.falta_pago}}"> 
       {{card.falta_pago}} 
      </option>
     </select>
    </li>

    <li> Reposición: 
     <select ng-model="search.reposicion" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'reposicion' | unique: 'reposicion' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad | filter:search.anualidad_tarjeta_ad | 
                         filter:search.gastos_cobranza | filter:search.falta_pago" 
       value="{{card.reposicion}}"> 
       {{card.reposicion}} 
      </option>
     </select>
    </li>

    <hr>

    <li> Tasa de Interes Promedio: 
     <select ng-model="search.tasa_promedio" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'tasa_promedio' | unique: 'tasa_promedio' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad | filter:search.anualidad_tarjeta_ad | 
                         filter:search.gastos_cobranza | filter:search.falta_pago | 
                         filter:search.reposicion" 
       value="{{card.tasa_promedio}}"> 
       {{card.tasa_promedio}} 
      </option>
     </select>
    </li>

    <li> CAT sin IVA: 
     <select ng-model="search.cat_sin_iva" class="small">
      <option selected="selected" ></option>
      <option ng-repeat="card in cards | orderBy:'cat_sin_iva' | unique: 'cat_sin_iva' |
                         filter:search.institucion | filter:search.ingresos_minimos | 
                         filter:search.anualidad | filter:search.anualidad_tarjeta_ad | 
                         filter:search.gastos_cobranza | filter:search.falta_pago | 
                         filter:search.reposicion| filter:search.tasa_promedio" 
       value="{{card.cat_sin_iva}}"> 
       {{card.cat_sin_iva}} 
      </option>
     </select>
    </li>

    <li> Seguro de Equipaje:
      <p>
        <input type="radio" name="seguro_equipaje" ng-model="search.seguro_equipaje" value="Aplica"> Aplica </input>
      </p> 
      <p>
        <input type="radio" name="seguro_equipaje" ng-model="search.seguro_equipaje" value="No Aplica"> No Aplica </input>
      </p>
    </li>

    <li> Seguro de Viajero: 
      <p>
        <input type="radio" name="seguro_accidentes" ng-model="search.seguro_accidentes" value="Aplica"> Aplica </input>
      <p>
        <input type="radio" name="seguro_accidentes" ng-model="search.seguro_accidentes" value="No Aplica"> No Aplica </input>
      </p>
    </li>

   </ul>

  </div>
  <div class="col-md-10">
   <!--Body content-->

   <ul class="cards">
    <li ng-repeat="card in cards | filter:search | orderBy:orderProp"  
      class="thumbnail card card-listing">

     <a href="#/{{card.id}}" class="thumb"> 
      <img ng-src="static/img/cards/{{card.id}}.jpg"> 
     </a>

     <a href="#/{{card.id}}">
      <h4> {{card.nombre}} </h4>
     </a>

     <p > Institución: {{card.institucion}} </p>
     <p style="float:left; margin-right:25px"> Ingresos Mínimos Comprobables: {{card.ingresos_minimos}} </p>
     <p style="float:left; margin-right:25px"> Anualidad: {{card.anualidad}} </p>
     <a href="#/{{card.id}}" > ver más... </a>
    </li>
   </ul>

  </div>
 </div>
</div>
