<!doctype html>
<html lang="es" ng-app="cardApp">
<head>
	<meta http-equiv="Content-Type" charset="utf-8">
	<!--9e3df520-bfa0-11e3-9308-12313b0229d2 a-->
	<title> Comparativa de Tarjetas </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link href="./static/css/home.css" media="screen" rel="stylesheet" type="text/css">
	<link href="./static/css/reset-81c62fcc415bd2d6fa009d66c47174b6.css" media="screen" rel="stylesheet" type="text/css">
	<link href="./static/css/page_defaults-51106e3201e46dda1a87a862c399c420.css" media="screen" rel="stylesheet" type="text/css">
	
	<link href="./static/css/fonts.css" media="screen" rel="stylesheet" type="text/css">

</head>
<body class="lp-pom-body ">
	<div class="lp-element lp-pom-root" id="lp-pom-root">

		<div class="lp-positioned-content">
			<div class="lp-element lp-pom-image" id="lp-pom-image-11">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/ufrbpo-finapp_02o03102j02u000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-12"></div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-13">
				<h1 xmlns="" class="lplh-16">
					<span style="font-family: arvo; font-size: 40px; color: rgb(255, 255, 255); font-weight: bolder;"> &iexcl;Bienvenido </span>
					<br>&nbsp;
				</h1>
				<h1 class="lplh-16">
					<span style="font-family: arvo; font-size: 40px; color: rgb(255, 255, 255); font-weight: bolder;">a FinApp!</span>
					<br>&nbsp;
				</h1>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-14">
				<p class="lplh-32">
					<span style="font-size:20px;">
						<span style="font-family:arvo;">
							<span style="color:#ffffff;">
								El comparador FinApp te permite comparar diferentes instrumentos financieros que se ofrecen en M&eacute;xico. 
								Podr&aacute;s comparar: <a href="./tarjetas">tarjetas de cr&eacute;dito</a>, hipotecas, diferentes tipos de cr&eacute;ditos y diferentes 
								tipos de seguros &iexcl;Empieza a comparar YA!
							</span>
						</span>
					</span>
				</p>
			</div>
			
			<div class="lp-element lp-pom-box" id="lp-pom-box-34">
				<div class="lp-element lp-pom-image" id="lp-pom-image-69">
					<div class="lp-pom-image-container" style="overflow: hidden;">
						<img src="./static/img/1idugs6-o-icons-users-64x64.png" alt="">
					</div>
				</div>
			</div>
	
			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-36">
				<p class="lplh-22">
					<span style="font-family:droid sans;"> <span style="color:#2f353e;">
						<strong> <span style="font-size: 21px;">
							Toma la mejor decisi&oacute;n con la ayuda de nuestras herramientas
						</span> </strong>
					</span> </span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-37">
				<p class="lplh-20">
					<span style="color:#000000;"> <span style="font-family:droid sans;"> <font size="2">
						Alguna vez has necesitado solicitar alg&uacute;n cr&eacute;dito, hipoteca, tarjeta de cr&eacute;dito o 
						seguro y no consultaste todas las opciones disponibles &iquest;Crees que si hubieras conocido todas tus 
						opciones, habrias tomado una mejor decisi&oacute;n? Si tu respuesta fue un S&Iacute;, nosotros estamos 
						aqu&iacute; para ayudarte.
					</font></span></span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-47">
				<p class="lplh-22">
					<span style="color:#2f353e;"><strong><span style="font-size: 21px;">
						<span style="font-family: droid sans;">
							Descarga tus consultas en formato PDF!
						</span>
					</span></strong></span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-48">
				<p class="lplh-20">
					<span style="color:#000000;"><span style="font-family: droid sans;">
						<span style="font-size: 13px;">
							Al realizar una consulta en nuestro portal, podr&aacute;s descargarla para que 
							la puedas consultar cuantas veces quieras
						</span>
					</span></span>
				</p>
			</div>

			<div class="lp-element lp-pom-box" id="lp-pom-box-49">
				<div class="lp-element lp-pom-image" id="lp-pom-image-70">
					<div class="lp-pom-image-container" style="overflow: hidden;">
						<img src="./static/img/3lxixz-o-icons-cloud-64x64.png" alt="">
					</div>
				</div>
			</div>

			<div class="lp-element lp-pom-box" id="lp-pom-box-53">
				<div class="lp-element lp-pom-image" id="lp-pom-image-71">
					<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/npwoa0-o-icons-tag-64x64.png" alt=""></div>
				</div>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-54">
				<p class="lplh-22">
					<span style="color:#2f353e;"><strong><span style="font-size: 21px;">
						<span style="font-family: droid sans;">
							Compara las mejores opciones para ti!
						</span></span></strong>
					</span>
				</p>
			</div>

			<div class="lp-element lp-pom-box" id="lp-pom-box-55">
				<div class="lp-element lp-pom-image" id="lp-pom-image-72">
					<div class="lp-pom-image-container" style="overflow: hidden;">
						<img src="./static/img/1ypg1gd-o-icons-mobile-64x64.png" alt=""></div>
					</div>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-56">
				<p class="lplh-22">
					<span style="color:#2f353e;"><strong><span style="font-size: 21px;">
						<span style="font-family: droid sans;">
							Descarga FinApp para tu smartphone
						</span>
					</span></strong></span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-57">
				<p class="lplh-20">
					<span style="color:#000000;"><span style="font-family: droid sans;">
						<span style="font-size: 13px;">
							Todo el mundo busca mayor accesibilidad a la informaci&oacute;n de una manera m&aacute;s r&aacute;pida, descarga nuestra aplicaci&oacute;n y experimenta su uitlidad en donde sea que te encuentres.
						</span>
					</span></span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-58">
				<p class="lplh-20">
					<span style="color:#000000;"><span style="font-family:droid sans;">
						<font size="2">
							Nuestro portal no s&oacute;lo te ofrece consultar las mejores oportunidades del mercado, 
							sino tambi&eacute;n las compara y te las explica! ahora entender como funcionas los 
							instrumentos financieros ser&aacute; m&aacute;s f&aacute;cil y sencillo para ti.&nbsp;
						</font>
					</span></span>
				</p>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-135">
				<p>
					<span style="font-size:13px;"><span style="font-family: droid sans;">
						<span style="color: rgb(108, 112, 119);">
							&nbsp;Copyright &copy; 2014 FinApp. All rights reserved.
						</span>
					</span></span>
				</p>
			</div>

			<a class="lp-element lp-pom-button" id="lp-pom-button-141" href="clkn/http/www.twitter.com/" target="_blank">
				<span class="label" style="margin-top: 0px;"></span>
			</a>

			<a class="lp-element lp-pom-button" id="lp-pom-button-142" href="clkn/https/www.facebook.com/Finappcredito?ref=hl" target="_blank">
				<span class="label" style="margin-top: 0px;"></span>
			</a>

			<a class="lp-element lp-pom-button" id="lp-pom-button-143" href="clkn/http/www.linkedin.com/" target="_blank">
				<span class="label" style="margin-top: 0px;"></span>
			</a>

		
			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-152">
				<p class="lplh-32">
					<span style="font-family:arvo;"><span style="color:#ffffff;">
						<span style="font-size:18px;"><strong>
							El comparador financiero para tus necesidades.
						</strong></span>
					</span></span>
				</p>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-166">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1ojygoc-iphone5s-black_06g0ac06g0ac000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-167">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/ufrbpo-finapp_03z04h03z04j000000.png" alt="">
				</div>
			</div>

			

			<div class="lp-element lp-pom-image" id="lp-pom-image-174">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1xt3jq5-banamex_06s02406s024000000.jpg" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-175">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/yso01z-santander_06y02106y021000000.jpg" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-176">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1foinqr-scotiabank_06m02c06m02c000000.jpg" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-177">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/bpk5k4-bancomer_07001q07001q000000.jpg" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-178">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1gvajwm-banorte_07f01h07f01h000000.gif" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-179">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1xoudje-hsbc_07y01e07y01e000000.jpg" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-181">
				<div style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; font-size: 13px; line-height: normal; font-family: 'open sans', sans-serif; color: rgb(0, 0, 0); max-width: 99.9000015258789%;">
					<span style="font-family:arvo;"><span style="color:#696969;">
						<font style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline;">
							<b style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline;">
								Ubicaci&oacute;n
							</b>
						</font>
					</span></span>
				</div>

				<address style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; font-style: normal; font-size: 12px; line-height: normal; font-family: 'open sans', sans-serif; color: rgb(0, 0, 0); max-width: 99.9000015258789%;">
					<span style="font-family:arvo;"><span style="color:#696969;">
						<span style="margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline;">
							Calle del Puente #22U2 Col. Ejidos de Huipulco, Tlalpan C.P. 14380, M&eacute;xico D.F.
						</span>
					</span></span>
				</address>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-182">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1ktpdb4-default-location-32px_00r01700r017000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-183">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/xzkhjg-android-phone_0580bc0580bc000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-184">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/ufrbpo-finapp_03z04h03z04j000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-image" id="lp-pom-image-185">
				<div class="lp-pom-image-container" style="overflow: hidden;">
					<img src="./static/img/1hj51q0-henton-college-icon-email_01c01c01c01c000000.png" alt="">
				</div>
			</div>

			<div class="lp-element lp-pom-text nlh" id="lp-pom-text-186">
				<p> <span style="font-family:arvo;"> finapp.asesoria@hotmail.com </span> </p>
				<p> &nbsp;</p>
			</div>
		</div>
		
		<div class="lp-element lp-pom-block" id="lp-pom-block-8" style="width: 100%; height: 3px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 3px;"></div>
		</div>

		<div class="lp-element lp-pom-block" id="lp-pom-block-9" style="width: 100%; height: 116px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 116px;"></div>
		</div>
		
		<div class="lp-element lp-pom-block" id="lp-pom-block-10" style="width: 100%; height: 509px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 509px;"></div>
		</div>
		
		<div class="lp-element lp-pom-block" id="lp-pom-block-24" style="width: 100%; height: 561px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 561px;"></div>
		</div>
		
		<div class="lp-element lp-pom-block" id="lp-pom-block-62" style="width: 100%; height: 229px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 229px;"></div>
		</div>

		<div class="lp-element lp-pom-block" id="lp-pom-block-134" style="width: 100%; height: 150px; position: relative;">
			<div class="lp-pom-block-content" style="margin: auto; width: 950px; height: 150px;"></div>
		</div>
	</div>
</body>
</html>
